.stats    
  = link_to url: following_user_path(@user) do
    %strong#following.stat
      = @user.following.count
    following
  = link_to url: followers_user_path(@user) do   
    %strong#followers.stat
      = @user.followers.count
    followers
