%footer.footer
  %small
    The
    %a{:href => "https://railstutorial.jp/"} Ruby on Rails Demo Application
    by
    %a{:href => "https://www.kousekimiyo.com/"} Kouseki Miyo
  %nav
    %ul
      %li= link_to "About",   'about'
      %li= link_to "Contact", 'contact'
